<div id="siteHeader">
	<div class="container">
		<div class="floatRight" style="margin-right:10px">			
			<a class="languageItem" href="/"><img src="/assets/img/de.png"/></a>
			<a class="languageItem" href="/en"><img src="/assets/img/usa.png"/></a>
		</div>
		<a href="downloads.html"><i class="icon-download-alt"></i> Aktuelle Version {{site.appversion}} ({{site.appdatede}})</a>
		<div style="clear:both;"></div>
	</div>
</div>
<header id="mainHeader">
	<div class="container">
		<div id="logo">
			<a href="/index.html" title="">
				<img src="/assets/img/logo.png" alt="" />
			</a>
		</div>
		<nav class="floatRight">
			<ul>
				<li><a href="/index.html">Home</a></li>
				<!--<li><a href="/news.html">News</a></li>-->
				<li><a href="/downloads.html">Downloads</a></li>
				<li><a href="/doc/index.html">Dokumentation</a></li>
				<li><a href="https://github.com/Geaz/sharpDox/issues" target="_blank">Feedback</a></li>
			</ul>
		</nav>		
		<div style="clear:both;"></div>
	</div>
</header>